@font-face {
    font-family: 'gnome';
    src: url('gnome.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: 'gnome' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-gnome-small::before { content: "\ea01"; }
.icon-gnome-logo::before { content: "\ea02"; }
.icon-gnome-vertical::before { content: "\ea03"; }
.icon-gnome-extensions::before { content: "\ea04"; }
.icon-eye::before { content: "\ea05"; }
.icon-power-off::before { content: "\ea06"; }
.icon-power-on::before { content: "\ea07"; }
.icon-iso::before { content: "\ea08"; }
.icon-plusminus::before { content: "\ea09"; }
.icon-dumbbell::before { content: "\ea0a"; }
.icon-stairs::before { content: "\ea0b"; }
.icon-light::before { content: "\ea0c"; }
.icon-dark-outline::before { content: "\ea0d"; }
.icon-rain::before { content: "\ea0e"; }
.icon-cloud::before { content: "\ea0f"; }
.icon-cloud-power::before { content: "\ea10"; }
.icon-music-listen::before { content: "\ea11"; }
.icon-music::before { content: "\ea12"; }
.icon-music-note::before { content: "\ea13"; }
.icon-magnify::before { content: "\ea14"; }
.icon-brush::before { content: "\ea15"; }
.icon-pencil::before { content: "\ea16"; }
.icon-fish::before { content: "\ea17"; }
.icon-bread::before { content: "\ea18"; }
.icon-desktop::before { content: "\ea19"; }
.icon-dialog::before { content: "\ea1a"; }
.icon-link::before { content: "\ea1b"; }
.icon-bread-piece::before { content: "\ea1c"; }
.icon-sim::before { content: "\ea1d"; }
.icon-trackpad::before { content: "\ea1e"; }
.icon-ball::before { content: "\ea1f"; }
.icon-bbq::before { content: "\ea20"; }
.icon-drama::before { content: "\ea21"; }
.icon-fist::before { content: "\ea22"; }
.icon-document::before { content: "\ea23"; }
.icon-power::before { content: "\ea24"; }
.icon-circular::before { content: "\ea25"; }
.icon-travel::before { content: "\ea26"; }
.icon-tux::before { content: "\ea27"; }
.icon-active::before { content: "\ea28"; }
.icon-ai::before { content: "\ea29"; }
.icon-alien::before { content: "\ea2a"; }
.icon-analytics::before { content: "\ea2b"; }
.icon-anchor::before { content: "\ea2c"; }
.icon-angles-down::before { content: "\ea2d"; }
.icon-angles-left::before { content: "\ea2e"; }
.icon-angles-right::before { content: "\ea2f"; }
.icon-angles-up::before { content: "\ea30"; }
.icon-ankh::before { content: "\ea31"; }
.icon-approved::before { content: "\ea32"; }
.icon-arrow-left::before { content: "\ea33"; }
.icon-arrow-right::before { content: "\ea34"; }
.icon-atom::before { content: "\ea35"; }
.icon-award::before { content: "\ea36"; }
.icon-bandage::before { content: "\ea37"; }
.icon-barchart::before { content: "\ea38"; }
.icon-bell::before { content: "\ea39"; }
.icon-bin::before { content: "\ea3a"; }
.icon-bookmark::before { content: "\ea3b"; }
.icon-bookmark-plus::before { content: "\ea3c"; }
.icon-browser::before { content: "\ea3d"; }
.icon-bucket::before { content: "\ea3e"; }
.icon-c::before { content: "\ea3f"; }
.icon-cabinet::before { content: "\ea40"; }
.icon-camera::before { content: "\ea41"; }
.icon-car::before { content: "\ea42"; }
.icon-chart-bubble::before { content: "\ea43"; }
.icon-chart-scatterplot::before { content: "\ea44"; }
.icon-check::before { content: "\ea45"; }
.icon-chip-above-memory::before { content: "\ea46"; }
.icon-chip-cpu::before { content: "\ea47"; }
.icon-chip-side-memory::before { content: "\ea48"; }
.icon-close::before { content: "\ea49"; }
.icon-cloud-alternative::before { content: "\ea4a"; }
.icon-coffee::before { content: "\ea4b"; }
.icon-columns::before { content: "\ea4c"; }
.icon-compile::before { content: "\ea4d"; }
.icon-copy::before { content: "\ea4e"; }
.icon-cosine::before { content: "\ea4f"; }
.icon-cplusplus::before { content: "\ea50"; }
.icon-crosshair::before { content: "\ea51"; }
.icon-cube-3d::before { content: "\ea52"; }
.icon-database::before { content: "\ea53"; }
.icon-dataset::before { content: "\ea54"; }
.icon-delete::before { content: "\ea55"; }
.icon-denied::before { content: "\ea56"; }
.icon-desk::before { content: "\ea57"; }
.icon-doghouse::before { content: "\ea58"; }
.icon-down::before { content: "\ea59"; }
.icon-download::before { content: "\ea5a"; }
.icon-earth::before { content: "\ea5b"; }
.icon-edit::before { content: "\ea5c"; }
.icon-error::before { content: "\ea5d"; }
.icon-exclamation::before { content: "\ea5e"; }
.icon-file::before { content: "\ea5f"; }
.icon-filter::before { content: "\ea60"; }
.icon-folder::before { content: "\ea61"; }
.icon-gimp::before { content: "\ea62"; }
.icon-gitlab::before { content: "\ea63"; }
.icon-government::before { content: "\ea64"; }
.icon-harddisk::before { content: "\ea65"; }
.icon-harvey-empty::before { content: "\ea66"; }
.icon-harvey-full::before { content: "\ea67"; }
.icon-harvey-half::before { content: "\ea68"; }
.icon-harvey-quarter::before { content: "\ea69"; }
.icon-harvey-three-quarters::before { content: "\ea6a"; }
.icon-heart::before { content: "\ea6b"; }
.icon-identity::before { content: "\ea6c"; }
.icon-inbox::before { content: "\ea6d"; }
.icon-info::before { content: "\ea6e"; }
.icon-link-broken::before { content: "\ea6f"; }
.icon-linkedin::before { content: "\ea70"; }
.icon-local::before { content: "\ea71"; }
.icon-lock::before { content: "\ea72"; }
.icon-login::before { content: "\ea73"; }
.icon-logout::before { content: "\ea74"; }
.icon-mail::before { content: "\ea75"; }
.icon-math::before { content: "\ea76"; }
.icon-matrix::before { content: "\ea77"; }
.icon-minus::before { content: "\ea78"; }
.icon-monitor::before { content: "\ea79"; }
.icon-navigation-pin::before { content: "\ea7a"; }
.icon-new::before { content: "\ea7b"; }
.icon-new-message::before { content: "\ea7c"; }
.icon-next::before { content: "\ea7d"; }
.icon-night::before { content: "\ea7e"; }
.icon-outbox::before { content: "\ea7f"; }
.icon-paste::before { content: "\ea80"; }
.icon-people-group::before { content: "\ea81"; }
.icon-person::before { content: "\ea82"; }
.icon-php::before { content: "\ea83"; }
.icon-play::before { content: "\ea84"; }
.icon-plus::before { content: "\ea85"; }
.icon-previous::before { content: "\ea86"; }
.icon-progressbar-0::before { content: "\ea87"; }
.icon-progressbar-25::before { content: "\ea88"; }
.icon-progressbar-50::before { content: "\ea89"; }
.icon-progressbar-75::before { content: "\ea8a"; }
.icon-progressbar-100::before { content: "\ea8b"; }
.icon-python::before { content: "\ea8c"; }
.icon-question::before { content: "\ea8d"; }
.icon-raster-2x2::before { content: "\ea8e"; }
.icon-raster-3x3::before { content: "\ea8f"; }
.icon-raster-4x4::before { content: "\ea90"; }
.icon-raster-5x5::before { content: "\ea91"; }
.icon-reboot::before { content: "\ea92"; }
.icon-reviewer::before { content: "\ea93"; }
.icon-rows::before { content: "\ea94"; }
.icon-rust::before { content: "\ea95"; }
.icon-search::before { content: "\ea96"; }
.icon-server::before { content: "\ea97"; }
.icon-settings::before { content: "\ea98"; }
.icon-sheriff-badge::before { content: "\ea99"; }
.icon-shopping-bag::before { content: "\ea9a"; }
.icon-shutdown::before { content: "\ea9b"; }
.icon-spreadsheet::before { content: "\ea9c"; }
.icon-square::before { content: "\ea9d"; }
.icon-star::before { content: "\ea9e"; }
.icon-switch-off::before { content: "\ea9f"; }
.icon-switch-on::before { content: "\eaa0"; }
.icon-syringe::before { content: "\eaa1"; }
.icon-table::before { content: "\eaa2"; }
.icon-time::before { content: "\eaa3"; }
.icon-train::before { content: "\eaa4"; }
.icon-turn-down::before { content: "\eaa5"; }
.icon-turn-up::before { content: "\eaa6"; }
.icon-unlock::before { content: "\eaa7"; }
.icon-up::before { content: "\eaa8"; }
.icon-upload::before { content: "\eaa9"; }
.icon-virus::before { content: "\eaaa"; }
.icon-wifi-0::before { content: "\eaab"; }
.icon-wifi-50::before { content: "\eaac"; }
.icon-wifi-100::before { content: "\eaad"; }
.icon-zoom-in::before { content: "\eaae"; }
.icon-zoom-out::before { content: "\eaaf"; }